/* ------------------------------------utilities-------------
------ --------------------------------------------------------*/
*{
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    
   
}
/* header styling */
#header-box{
    background-color:#161616;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 3.12rem;
    margin-bottom: 8.12rem; */
    width: 62.5rem;
}
.text{
    margin: 6.94rem 0.75rm 6.94rem 6.62rem; 
    color: white;
}  
.text p {
    margin-top: 1.25rem;
    margin-bottom: 1.88rem;
} 
#header-box .btn{
    background-color: #DD0000;
    padding: 1rem 1.56rem;
    width: 11.69rem;
    height: 3.5rem;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-box:hover .btn{
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes animation {
    from{
        background-color: #DD0000;
        transform: scale(1);
    }
    to{
        background-color: yellow;
        transform: scale(2);
        color: #161616;
    }
}    
.fa-circle-right{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.635rem;
}
.header-image{
    margin:2.06rem 4.93rempx 0 0.75rem ;
}
.split{
    width: 40%;
}
.split img {
    width: 100%;
}
/* main section */
#main-section{
    display: flex;
}
.main-section-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

    
.blog-banner{
    border-radius: 10px 10px 0 0;
}
.blog-banner img{
    width: 100%;
}
.blog-details{
    margin-left: 1.25rem;
}
.blog-heading{
    margin-top: 1.25rem;
    margin-bottom: 0.81rem;
}
.blog-heading h3{
    font-size: 1.125rem;
    font-weight: 600;
}
.blog-heading .blog-btn{
    margin-bottom: 1.38rem;
}
.blog-details .icon{
    width: 8.94rem;
    height: 1.625rem;
    display: flex;
    align-items: center;
    justify-content:space-between;


}
.fa-clock, .fa-comment-dots{
    margin-right: 0.625rem;
}

.main-section-navigation {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 0.625rem;
    padding: 1.88rem;
    gap: 1rem;
    margin-right: 1rem;
}
.main-section-navigation li{
    background-color: #FFFFFF;
    width: 15.75rem;
    height: 4rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section-navigation li a{
    text-decoration: none;
    color: #161616;
}
.main-section-navigation li:hover{
    opacity: 0.8;
}
.main-section-navigation ul .active{
    background-color: red;
}

/* footer section styles */
#footer-section{
    width: 100%;
    height: 27.75rem;
    background-color: #161616;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-section h1{
    font-size: 2.5rem;
    font-weight: 600;
}
hr{
    width: 82.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 3.125rem 8.75rem;
}
.footer-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 56.125rem;
    height: 1.5rem;
    
}
.footer-menu ul li{list-style: none;}

.footer-menu ul li a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 1rem;
    font-weight: 500;
}   
.social-media{
    display: flex;
    margin-top: 1.88rem;

}
.social-media li{
    list-style: none;
    margin: 1rem 0.4rem;
}
.social-media li a{
    font-size: 2rem;
    color: #FFFFFF;
}

/* media quary */
@media only screen and (min-width: 689px) and (max-width: 991px) { 
    #main-section{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    .main-section-blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main-section-navigation ul li{
        display: flex;
        flex-direction: row;
    }
    .blog-banner{
        width: 10.5rem;
        height: 5.50rem;
        border-radius: 10px 10px 0 0;
    }
}
@media only screen and (max-width: 689px){
    #main-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
     }
     .main-section-blog{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
     }
     .main-section-navigation ul li{
         display: flex;
         flex-direction: row;
     }
     .blog-banner{
         width: 10.5rem;
         height: 5.50rem;
         border-radius: 10px 10px 0 0;
     }
}


